header {
    background:linear-gradient(to right, blueviolet, rgb(231, 193, 238));
    color: white;
    height: 10vh;
    width: 100%;
}

#menubar {
    border-bottom-style: solid;
    height: 6vh;
    border-color: lightgray;
    border-width: 1px;
}

#menubar input {
    outline: none;
}

.splitLine {
    padding: 1vh;
    border-right-style: solid;
    display: inline-block;
    border-color: lightgray;
    border-width: 1px;
}

header p {
    padding: 2vh;
}

tr:first-child {
    position: sticky;
    top: 0;
}

td:first-child {
    position: sticky;
    padding-left: 1vh;
    padding-right: 1vh;
    left: 0;
}

#sheet {
    height: 84vh;
    width: 100%;
    overflow: scroll;
}

td {
    font-weight: normal;
    text-align: center;

    border-top: none;
    border-left: none;

    border-bottom-color: lightgray;
    border-right-color: lightgray;

    border-bottom-width: 1px;
    border-right-width: 1px;
}

td input {
    border: none;
}