header {
    background:linear-gradient(to right, blueviolet, white);
    position: fixed;
    color: white;
    height: 10vh;
    width: 100%;
}

header p {
    padding: 2vh;
}

#sheet {
    padding-top: 10vh;
    height: 80%;
    width: 100%;
    overflow: scroll;
}

td {
    text-align: center;

    border-top: none;
    border-left: none;

    border-bottom-color: lightgray;
    border-right-color: lightgray;

    border-bottom-width: 1px;
    border-right-width: 1px;
}

input {
    border: none;
}